<!-- Meta Tags -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Adam King</title>
<meta
  name="description"
  content="Personal website and blog of Adam King"
/>
<meta name="keywords" content="Adam King, Developer, Blog" />
<meta name="author" content="Adam King" />

<!-- Theme Color for Mobile Browsers -->
<meta name="theme-color" content="#ffffff" />

<!-- For IE -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
