---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pt-12 lg:py-32 xl:py-54">
      <Text
        tag="h1"
        variant="textLG"
        class="text-black dark:text-white font-medium"
      >
        {frontmatter.page}
      </Text>
    </Wrapper>
    <Wrapper variant="standard" class="py-12">
      <div class="border-t dark:border-white/10 border-black/10 pt-2">
        <Wrapper variant="prose">
          <slot />
        </Wrapper>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
