---
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import { getCollection } from 'astro:content';
import { marked } from 'marked'; // Import marked
const [footer] = await getCollection('footer');
---

<footer class="py-12">
  <Wrapper variant="standard">
    <div class="space-y-8">
      <p class="text-sm text-[var(--color-text)]">{footer.data.copyright}</p>
      <p class="text-sm text-[var(--color-text)]">
        <span set:html={marked.parse(footer.data.lexendText) as string} />
      </p>
    </div>
  </Wrapper>
</footer>
