---
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import { getCollection } from "astro:content";

// Get footer content
const footerContent = await getCollection('footer');
const footer = footerContent[0];
---

<footer class="py-12">
  <Wrapper variant="standard">
    <div class="space-y-8">
      <p class="text-sm text-[var(--color-text)]">© 2010 - 2025 Adam King . All Rights Reserved.</p>
      <p class="text-sm text-[var(--color-text)]">
        This website proudly uses <a href="https://www.lexend.com/" class="underline">Lexend</a> font, a specialty font designed to reduce cognitive noise, and improve reading fluency, especially for neurodivergent people like myself.
      </p>
    </div>
  </Wrapper>
</footer>
