---
// Fundations
import Text from "../fundations/elements/Text.astro";
import Wrapper from "../fundations/containers/Wrapper.astro";
// Assets
import Logo from "./Logo.astro";
import ThemeToggle from "../assets/ThemeToggle.astro";

// Fetch navigation data from Payload CMS
const res = await fetch('https://payload-cms-7e43.onrender.com/api/globals/navigation');
let navigation = {};
if (res.ok) {
  navigation = await res.json();
} else {
  console.error(`Error fetching navigation: ${res.status} ${res.statusText}`);
}
const links: { text: string; url: string }[] = navigation.links || [];
---

<header class="bg-[var(--color-white)]">
  <Wrapper class="pt-14">
    <div class="flex flex-row items-center justify-between w-full">
      <Logo />
      <div class="ml-auto flex items-center gap-4">
        <ThemeToggle />
      </div>
    </div>
  </Wrapper>
</header>
