---
// Fundations
import Text from "../fundations/elements/Text.astro";
import Wrapper from "../fundations/containers/Wrapper.astro";
// Assets
import Logo from "./Logo.astro";
import ThemeToggle from "../assets/ThemeToggle.astro";
// Content
import { getCollection } from 'astro:content';

interface NavLink {
  text: string;
  url: string;
}

const [navigation] = await getCollection('navigation');
const links: NavLink[] = navigation?.data.links || [];
---

<header class="bg-[var(--color-white)]">
  <Wrapper variant="wide" class="pt-14">
    <div class="flex flex-row items-center justify-between w-full">
      <Logo />
      <div class="ml-auto flex items-center gap-4">
        {links.map(link => (
          <a href={link.url} class="text-sm hover:underline"><Text>{link.text}</Text></a>
        ))}
        <ThemeToggle />
      </div>
    </div>
  </Wrapper>
</header>
