---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Assets
import Logo from "./Logo.astro";
import ThemeToggle from "@/components/assets/ThemeToggle.astro";
---

<nav class="py-6">
  <Wrapper variant="standard">
    <div class="flex items-center justify-between">
      <Text
        tag="a"
        href="/"
        variant="textLG"
        class="nav-title"
      >
        Adam King
      </Text>
      <ThemeToggle />
    </div>
  </Wrapper>
</nav>
